## https://pre-commit.com/
#
# Before first use: `pre-commit install`
# To run: `pre-commit run --all-files`
# To update: `pre-commit autoupdate`
#  - &flake8_dependencies below needs updated manually
exclude: '^thirdparty'
fail_fast: false
default_language_version:
    python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        exclude: '^conda/recipes/.*\.yaml$'
      - id: debug-statements
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--config=.flake8"] # uses config
        additional_dependencies: &flake8_dependencies
          # These versions need updated manually
          - flake8==7.1.1
          - flake8-bugbear==24.10.31
          - flake8-simplify==0.21.0
  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        additional_dependencies: *flake8_dependencies
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.22
    hooks:
      - id: validate-pyproject
        name: Validate pyproject.toml
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [--in-place]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        types_or: [python, rst, markdown]
        additional_dependencies: [tomli]
        files: ^(nx_cugraph|docs)/
        args: ["-L thirdparty,coo,COO,numer"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](sh|py)$|
              [.]flake8[.]cython$|
              meta[.]yaml$|
              setup[.]cfg$
      - id: verify-alpha-spec
        args: ["--fix"]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.16.0
    hooks:
        - id: rapids-dependency-file-generator
          args: ["--clean"]
  - repo: local
    hooks:
      - id: nx-cugraph-meta-data-update
        name: nx-cugraph meta-data updater
        entry: bash -c "PYTHONPATH=. python _nx_cugraph/__init__.py"
        files: ^(nx_cugraph|_nx_cugraph)/
        types: [python]
        language: python
        pass_filenames: false
        additional_dependencies: ["networkx>=3.4"]
  - repo: local
    hooks:
      - id: nx-cugraph-readme-update
        name: nx-cugraph README updater
        entry: bash -c "PYTHONPATH=. python ./scripts/update_readme.py ./README.md"
        files: ^(nx_cugraph|_nx_cugraph)/
        types_or: [python, markdown]
        language: python
        pass_filenames: false
        additional_dependencies: ["networkx>=3.4"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [-p, "^branch-2....$"]
